@model UdemySiparis.Models.ViewModels.OrderVM

<form method="post">
	<input asp-for="OrderProduct.Id" hidden />
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-light ml-0">
				<div class="container row">
				<div class="col-12 d-none d-md-block col-md-6 pb-1">
				  Order
				</div>
				<div class="col-12 col-md-4 offset-md-2 text-right">
					<a asp-action="Index" class="btn text-white btn-outline-info form-control btn-sm">Back to Orders</a>
				</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-primary">PickUp Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">Name</div>
								<div class="col-9">
									
										<input asp-for="OrderProduct.Name" type="text" class="form-control" />						
										
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Phone</div>
								<div class="col-9">								
										<input asp-for="OrderProduct.CellPhone" type="text" class="form-control" />								
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Address</div>
								<div class="col-9">
									
										<input asp-for="OrderProduct.Address" type="text" class="form-control" />							
								</div>
							</div>
							
							<div class="row my-1">
								<div class="col-3">Zip Code</div>
								<div class="col-9">
									
										<input asp-for="OrderProduct.PostalCode" type="text" class="form-control" />								
								</div>
							</div>
						
							<div class="row my-1">
								<div class="col-3">Order Date</div>
								<div class="col-9">

									<input value="@Model.OrderProduct.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />

								</div>
							</div>													
						
							<input type="submit" asp-action="UpdateOrderDetails" class="btn btn-primary form-control my-1" value="Update Order Details" />

						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-primary">Orders : </span>
							</h4>
							<label class="btn btn-outline-primary form-control my-2">Order Status - @Model.OrderProduct.OrderStatus</label>

							<ul class="list-group mb-3">
								@foreach (var detail in Model.OrderDetails)
								{
									<li class="list-group-item d-flex justify-content-between p-2">
										<div class="row container">
											<div class="col-8">

												<h6 class="my-0 text-primary">@detail.Product.Name</h6>
												<small class="text-muted">Price : @((detail.Price / detail.Count ).ToString("c"))</small><br />
												<small class="text-muted">Quantity : @detail.Count</small>
											</div>
											<div class="col-4 text-end">
												<p class="text-success">@((detail.Price).ToString("c"))</p>
											</div>
										</div>
									</li>
								}
								<li class="list-group-item bg-primary">
									<div class="row container">
										<div class="col-6">
											<h5 class="text-white">TOTAL </h5>
										</div>
										<div class="col-6 text-end">
											<h5 class="text-white">@Model.OrderProduct.OrderPrice.ToString("c")</h5>
										</div>
									</div>
								</li>
							</ul>
								@if (Model.OrderProduct.OrderStatus =="Ordered")
								{
									<input type="submit" asp-action="Delivered" class="btn btn-primary form-control my-1" value="Delivered Order" />
								}			
								@if (Model.OrderProduct.OrderStatus != "Cancel" &&
								Model.OrderProduct.OrderStatus!="Delivered")
								{
									<input type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1" value="Cancel Order" />
								}							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


