@model IEnumerable<Product>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Ürün Listesi</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Product" asp-action="Crup" class="btn btn-primary ">
                <span>Add New Product</span>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped my-2">
            <thead>
                <tr>
                    <th width="100px">
                        Product IMG
                    </th>
                    <th>
                        Product Name
                    </th>
                     <th>
                        Price
                    </th>
                    <th width="150px">
                        
                    </th>
                </tr>
            </thead>
            <tbody>                
                @foreach (var product in Model)
                {
                    <tr>
                        <td><img src="@product.Picture" width="80px" /></td>
                        <td class="pt-4">@product.Name</td>
                        <td class="pt-4">@product.Price</td>
                        <td>
                            <a asp-controller="Product" asp-action="Crup" asp-route-id="@product.Id" class="btn btn-primary">
                                Edit
                            </a>

                             <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>